#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.sidebar {
  display: grid;
  grid-template-rows: 1fr 1.5fr 6.5fr 1fr;
  background-color: darkcyan;
  border-radius: 10px 0px 0px 10px;
}
.sidebar img {
  margin-top: 6vh;
  border-radius: 50%;
  justify-self: center;
  align-content: center;
  object-fit: cover;
  padding: 5px;
  width: 90%;
  height: 65%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  padding: 15px;
}

.header p {
  font-size: 1.5vw;
}

.content {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}
.content p {
  font-size: 2vw;
}

.coverpage {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  row-gap: 40px;
}

.section {
  justify-items: center;
  color: cadetblue;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.section p {
  color: darkgray;
  padding-left: 30px;
  padding-right: 30px;
}

.section h2 {
  align-self: center;
  font-size: 3vw;
  text-decoration: underline;
}

.section h3 {
  align-self: center;
  justify-self: center;
  font-size: 2vw;
}

.section h4 {
  font-size: 2vw;
}

.section img {
  justify-self: flex-end;
  object-fit: contain;
  border-radius: 100px;
  width: 40vw;
  height: 20vh;
}
.skill {
  background-color: lightgreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: x-large;
  height: 40px;
}
.icon {
  font-size: 10vw;
  color: lightgreen;
}
.network-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.network-list li {
  margin-bottom: 50px;
}
