#root {
  padding: 2rem;
  text-align: center;
}

html {
  overflow: auto;
}

.sidebar {
  display: grid;
  grid-template-rows: 0.7fr 1fr 0.6fr 6fr;
  background-color: darkcyan;
  border-radius: 10px 0px 0px 10px;
}
.sidebar img {
  margin-top: 10vh;
  border-radius: 50%;
  justify-self: center;
  align-content: center;
  object-fit: cover;
  padding: 5px;
  width: 90%;
  height: 65%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  padding: 15px;
}

.header p {
  font-size: 1.5vw;
}

.content {
  display: grid;
  grid-template-rows: 0.8fr 6fr 1fr;
}
.content p {
  font-size: 2vw;
}

.coverpage {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main {
  display: grid;
  grid-template-rows: 0.5fr 2fr 2fr;
  row-gap: 40px;
}

.section {
  justify-items: center;
  color: cadetblue;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.section p {
  color: darkgray;
  padding-left: 30px;
  padding-right: 30px;
}

.section h2 {
  align-self: center;
  font-size: 3vw;
  text-decoration: underline;
}

.section h3 {
  align-self: center;
  justify-self: center;
  font-size: 2vw;
}

.section h4 {
  font-size: 2vw;
}

.section img {
  justify-self: flex-end;
  object-fit: contain;
  border-radius: 100px;
  width: 40vw;
  height: 20vh;
}
.skill {
  background-color: lightgreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: x-large;
  height: 40px;
}
.icon {
  font-size: 10vw;
  color: lightgreen;
  transition: 0.3s;
}

.icon:hover {
  color: darkgray;
}

.network-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.network-list li {
  margin-bottom: 50px;
}
